<footer class="footer bg-dark text-light pt-5 pb-4" style="font-size: 14px;">
  <div class="container-fluid px-md-5">
    <div class="row">

      <!-- Column 1: About -->
      <div class="col-md-2">
        <h6 class="text-uppercase text-white mb-3">ABOUT</h6>
        <p><a href="#" class="footer-link">Contact Us</a></p>
        <p><a href="#" class="footer-link">About Us</a></p>
        <p><a href="#" class="footer-link">Careers</a></p>
        <p><a href="#" class="footer-link">MeraBazar Stories</a></p>
        <p><a href="#" class="footer-link">Press</a></p>
        <p><a href="#" class="footer-link">Corporate Information</a></p>
      </div>

      <!-- Column 2: Group Companies -->
      <div class="col-md-2">
        <h6 class="text-uppercase text-white mb-3">GROUP COMPANIES</h6>
        <p><a href="#" class="footer-link">Myntra</a></p>
        <p><a href="#" class="footer-link">Cleartrip</a></p>
        <p><a href="#" class="footer-link">Shopsy</a></p>
      </div>

      <!-- Column 3: Help -->
      <div class="col-md-2">
        <h6 class="text-uppercase text-white mb-3">HELP</h6>
        <p><a href="#" class="footer-link">Payments</a></p>
        <p><a href="#" class="footer-link">Shipping</a></p>
        <p><a href="#" class="footer-link">Cancellation & Returns</a></p>
        <p><a href="#" class="footer-link">FAQ</a></p>
      </div>

      <!-- Column 4: Policy -->
      <div class="col-md-2">
        <h6 class="text-uppercase text-white mb-3">CONSUMER POLICY</h6>
        <p><a href="#" class="footer-link">Cancellation & Returns</a></p>
        <p><a href="#" class="footer-link">Terms Of Use</a></p>
        <p><a href="#" class="footer-link">Security</a></p>
        <p><a href="#" class="footer-link">Privacy</a></p>
        <p><a href="#" class="footer-link">Sitemap</a></p>
        <p><a href="#" class="footer-link">Grievance Redressal</a></p>
        <p><a href="#" class="footer-link">EPR Compliance</a></p>
      </div>

      
      <!-- Column 5: Address -->
      <div class="col-md-3  address-box">
        <h6 class="text-uppercase text-white  mb-3">Registered Office Address:</h6>
        <p class="footer-text">
          MeraBazar Internet Private Limited,<br>
          Buildings Alyssa, Begonia & Clove Embassy Tech Village,<br>
          Outer Ring Road, Devarabeesanahalli Village,<br>
          Bengaluru, 560103,<br>
          Karnataka, India<br>
          CIN: <span class="text-muted">U51109KA2012PTC066107</span><br>
          Telephone: <a href="tel:044-45614700" class="text-info text-decoration-none">044-45614700 / 044-67415800</a>
        </p>

        <!-- Social Icons -->
        <div class="mt-3">
          <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-x-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-youtube"></i></a>
          <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <hr class="border-secondary my-4">

    <!-- Bottom Row -->
    <div class="d-flex flex-wrap justify-content-between align-items-center text-center text-md-start">
      <div class="mb-2">
        <a href="#" class="footer-link me-4"><i class="fas fa-store text-warning"></i> Become a Seller</a>
        <a href="#" class="footer-link me-4"><i class="fas fa-bullhorn text-warning"></i> Advertise</a>
        <a href="#" class="footer-link me-4"><i class="fas fa-gift text-warning"></i> Gift Cards</a>
        <a href="#" class="footer-link"><i class="fas fa-question-circle text-warning"></i> Help Center</a>
      </div>

      <div class="mb-2 text-light">
        <span>© 2025 MeraBazar.com</span>
        <!-- Payment icons -->
        <span class="ms-3">
          <img src="https://img.icons8.com/color/48/visa.png" height="25">
          <img src="https://img.icons8.com/color/48/mastercard-logo.png" height="25">
          <img src="https://img.icons8.com/color/48/rupay.png" height="25">
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/free-netbanking-icon-download-in-svg-png-gif-file-formats--credit-debit-bank-transaction-payment-methods-vol-1-pack-business-icons-32270.png"
            height="25">
          <img src="https://i.pinimg.com/736x/13/f8/c5/13f8c5723f1cc9812dbc8d506d0eb978.jpg" height="25">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSigdOnwUMKnZQlhqSxqi1NdiJYnasDjtPxpQ&s"
            height="25">
        </span>
      </div>
    </div>
  </div>
</footer>